<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Exactum Room Maps - TKO-äly ry</title>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>